/****************** Main Section Style *******************/
/****************** Top Section Style */
.top-section {
  height: 80vh;

  &__wrapper {
    display: grid;
    grid-template-columns: repeat(18, 1fr);
    grid-template-rows: 80vh;
    background-color: #000;
  }

  // Colored Bar
  &__colored-bar,
  &__colored-bar-img {
    height: 40%;
    width: 6px;
    margin: auto 0;
    background: rgb(255, 197, 147);
    background: linear-gradient(
      135deg,
      rgba(255, 197, 147, 1) 0%,
      rgba(188, 113, 152, 1) 50%,
      rgba(90, 119, 255, 1) 100%
    );
  }

  &__colored-bar-img {
    display: none;
  }

  // Top Info
  &__info {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    grid-column: 3 / 7;
    grid-row: 1 / 2;
  }

  &__title {
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 3rem;
    letter-spacing: 4.16667px;
    text-transform: uppercase;
    margin-bottom: 1em;
  }

  &__p {
    font-size: 0.9375rem;
    line-height: 1.5625em;
    opacity: 0.6;
    margin-bottom: 2.5em;
    transform-style: preserve-3d;
  }

  a {
    display: flex;

    &:hover {
      .top-section__right-arrow {
        margin-left: 2em;
      }

      .top-section__button {
        border-color: #f2f2f2;
      }
    }
  }

  &__right-arrow {
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(177deg)
      brightness(107%) contrast(102%);
    transition: all 0.3s ease-in-out;
    margin-left: 1em;
  }

  &__button {
    color: #fff;
    font-size: 0.75rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: 0.3s;
    border-bottom: 1px solid transparent;
  }

  // Top Image
  &__img {
    grid-column: 9 / 19;
    grid-row: 1 / 2;

    picture {
      width: 100%;
      height: 100%;

      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        object-position: top center;
      }
    }
  }
}

/****************** Story Template Section Style */
.story-template {
  height: 80vh;

  &__wrapper {
    display: grid;
    grid-template-columns: repeat(21, 1fr);
    grid-template-rows: 80vh;
    background-color: #fff;
  }

  // Story Template Info
  &__info {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-column: 16 / 20;
    grid-row: 1 / 2;
  }

  &__title {
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 3rem;
    letter-spacing: 4.16667px;
    text-transform: uppercase;
    margin-bottom: 1em;
  }

  &__p {
    font-size: 0.9375rem;
    line-height: 1.5625em;
    opacity: 0.6;
    margin-bottom: 2.5em;
    transform-style: preserve-3d;
  }

  a {
    display: flex;

    &:hover {
      .story-template__right-arrow {
        margin-left: 2em;
      }

      .story-template__button {
        border-color: #000;
      }
    }
  }

  &__right-arrow {
    transition: all 0.3s ease-in-out;
    margin-left: 1em;
  }

  &__button {
    color: #000;
    font-size: 0.75rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: 0.3s;
    border-bottom: 1px solid transparent;
  }

  // Story Template Image
  &__img {
    grid-column: 1 / 14;
    grid-row: 1 / 2;

    picture {
      width: 100%;
      height: 100%;

      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        object-position: top center;
      }
    }
  }
}

/****************** Design Section Style */
.design-section {
  height: 80vh;

  &__wrapper {
    display: grid;
    grid-template-columns: repeat(18, 1fr);
    grid-template-rows: 80vh;
    background-color: #fff;
  }

  // Design Info
  &__info {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-column: 3 / 7;
    grid-row: 1 / 2;
  }

  &__title {
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 3rem;
    letter-spacing: 4.16667px;
    text-transform: uppercase;
    margin-bottom: 1em;
  }

  &__p {
    font-size: 0.9375rem;
    line-height: 1.5625em;
    opacity: 0.6;
    margin-bottom: 2.5em;
    transform-style: preserve-3d;
  }

  a {
    display: flex;

    &:hover {
      .design-section__right-arrow {
        margin-left: 2em;
      }

      .design-section__button {
        border-color: #000;
      }
    }
  }

  &__right-arrow {
    transition: all 0.3s ease-in-out;
    margin-left: 1em;
  }

  &__button {
    font-size: 0.75rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: 0.3s;
    border-bottom: 1px solid transparent;
  }

  // Design Image
  &__img {
    grid-column: 9 / 19;
    grid-row: 1 / 2;

    picture {
      width: 100%;
      height: 100%;

      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        object-position: top center;
      }
    }
  }
}

/****************** Story Section Style */
.story-section {
  &__wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 600px;
    background-color: #fff;
  }

  &__gradient {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 5;
    background: linear-gradient(
      170deg,
      rgba(0, 0, 0, 0) 20%,
      rgba(0, 0, 0, 0.7) 100%
    );
  }

  // Story Item
  &__item {
    &-img {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      transition: all 0.3s ease-in-out;

      &:hover {
        transform: translate3d(0, -30px, 0);

        .story-section__border-bottom {
          opacity: 1;
        }
      }

      .story-section__item-wrapper {
        margin-bottom: 3.5em;
      }
    }

    &-img {
      height: 600px;
      position: relative;

      picture {
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: 1;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          object-position: center center;
        }
      }
    }
  }

  &__item-wrapper {
    position: relative;
    z-index: 10;
  }

  &__title {
    color: #fff;
    font-size: 1.125rem;
    font-weight: 700;
    line-height: 1.5625em;
    max-width: 1500px;
    width: 80%;
    margin: auto auto 0.2em auto;
  }

  &__name {
    color: #fff;
    font-size: 0.8125rem;
    line-height: 1.0625em;
    width: 80%;
    margin: auto;
  }

  hr {
    color: #fff;
    max-width: 1500px;
    width: 80%;
    margin: 1.5em auto;
    opacity: 0.25;
  }

  &__button {
    display: flex;
    justify-content: space-between;
    max-width: 1500px;
    width: 80%;
    color: #fff;
    font-size: 0.75rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
    line-height: 1em;
    margin: auto;
  }

  &__right-arrow {
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(177deg)
      brightness(107%) contrast(102%);
  }

  // story border
  &__border-bottom {
    height: 6px;
    width: 100%;
    background: rgb(255, 197, 147);
    background: linear-gradient(
      135deg,
      rgba(255, 197, 147, 1) 0%,
      rgba(188, 113, 152, 1) 50%,
      rgba(90, 119, 255, 1) 100%
    );
    position: relative;
    z-index: 10;
    opacity: 0;
    transition: all 0.3s ease-in-out;
  }
}

/****************** Features Section Style */
.features-section {
  padding: 10em 0;

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  // Features Item
  &__item {
    text-align: center;
    width: 30%;
  }

  &__img {
    display: flex;
    align-items: center;
    width: 100px;
    height: 100px;
    margin: auto auto 3em auto;

    img {
      width: 100%;
      object-fit: cover;
      object-position: center center;
    }
  }

  &__title {
    font-weight: 700;
    font-size: 1.125rem;
    line-height: 1.5625em;
    margin-bottom: 1em;
  }

  &__p {
    font-size: 0.9375rem;
    line-height: 1.5625em;
    opacity: 0.6;
  }
}

/******************************** Media Queries ********************************/

/* Laptop ********************************/
@media only screen and (min-width: 1280px) and (max-width: 1440px) {
  /******** Top Section */
  .top-section {
    &__colored-bar-img {
      display: none;
    }

    &__colored-bar {
      height: 45%;
    }

    &__info {
      grid-column: 2/9;
    }

    &__info-wrapper {
      width: 90%;
      margin: 0 auto;
    }
  }

  /******** Story Template Section */
  .story-template {
    &__info {
      grid-column: 15 / 22;
    }

    &__info-wrapper {
      width: 90%;
      margin: 0 auto;
    }
  }

  /******** Design Section */
  .design-section {
    &__info {
      grid-column: 2/9;
    }

    &__info-wrapper {
      width: 90%;
      margin: 0 auto;
    }
  }

  /******** Story Section */
  .story-section {
    &__item-img {
      height: 500px;
    }
  }

  /******** Features Section */
  .features-section {
    padding: 5em 0;

    &__img {
      width: 90px;
      height: 90px;
    }
  }
}

/* iPad Pro ********************************/
@media only screen and (min-width: 901px) and (max-width: 1180px) {
  /******** Top Section */
  .top-section {
    &__colored-bar-img {
      display: none;
    }

    &__info {
      grid-column: 2/11;
    }

    &__info-wrapper {
      width: 90%;
      margin: 0 auto;
    }

    a:hover {
      .top-section__button {
        border-bottom: 1px solid transparent;
      }

      .top-section__right-arrow {
        margin-left: 1em;
      }
    }

    &__img {
      grid-column: 12/19;
    }
  }

  /******** Story Template Section */
  .story-template {
    &__info {
      grid-column: 10 / 20;
    }

    &__info-wrapper {
      width: 90%;
      margin: 0 auto;
    }

    a:hover {
      .story-template__button {
        border-bottom: 1px solid transparent;
      }

      .story-template__right-arrow {
        margin-left: 1em;
      }
    }

    &__img {
      grid-column: 1 / 9;
    }
  }

  /******** Design Section */
  .design-section {
    &__info {
      grid-column: 2/11;
    }

    &__info-wrapper {
      width: 90%;
      margin: 0 auto;
    }

    a:hover {
      .design-section__button {
        border-bottom: 1px solid transparent;
      }

      .design-section__right-arrow {
        margin-left: 1em;
      }
    }

    &__img {
      grid-column: 12/19;
    }
  }

  /******** Story Section */
  .story-section {
    &__item a:hover {
      transform: translate3d(0, 0, 0);

      .story-section__border-bottom {
        display: none;
      }

      .story-section__item-wrapper {
        margin-bottom: 3.5rem;
      }
    }
  }

  /******** Features Section */
  .features-section {
    &__item {
      width: 100%;
    }

    &__img {
      width: 90px;
      height: 90px;
    }

    &__item:not(:last-child) {
      margin-bottom: 6em;
    }
  }
}

/* Tablet/iPad ********************************/
@media only screen and (max-width: 900px) {
  /******** Top Section */
  .top-section {
    &__colored-bar-img {
      display: none;
    }

    &__info {
      grid-column: 2/11;
    }

    &__info-wrapper {
      width: 90%;
      margin: 0 auto;
    }

    a:hover {
      .top-section__button {
        border-bottom: 1px solid transparent;
      }

      .top-section__right-arrow {
        margin-left: 1em;
      }
    }

    &__img {
      grid-column: 12/19;
    }
  }

  /******** Story Template Section */
  .story-template {
    &__info {
      grid-column: 10 / 20;
    }

    &__info-wrapper {
      width: 90%;
      margin: 0 auto;
    }

    a:hover {
      .story-template__button {
        border-bottom: 1px solid transparent;
      }

      .story-template__right-arrow {
        margin-left: 1em;
      }
    }

    &__img {
      grid-column: 1 / 9;
    }
  }

  /******** Design Section */
  .design-section {
    &__info {
      grid-column: 2/11;
    }

    &__info-wrapper {
      width: 90%;
      margin: 0 auto;
    }

    a:hover {
      .design-section__button {
        border-bottom: 1px solid transparent;
      }

      .design-section__right-arrow {
        margin-left: 1em;
      }
    }

    &__img {
      grid-column: 12/19;
    }
  }

  /******** Story Section */
  .story-section {
    &__wrapper {
      grid-template-columns: repeat(2, 1fr);
    }

    &__item a:hover {
      transform: translate3d(0, 0, 0);

      .story-section__border-bottom {
        display: none;
      }

      .story-section__item-wrapper {
        margin-bottom: 3.5rem;
      }
    }
  }

  /******** Features Section */
  .features-section {
    &__wrapper {
      display: grid;
      grid-template-columns: 1fr;
    }

    &__item {
      width: 100%;
    }

    &__img {
      width: 90px;
      height: 90px;
    }

    &__item:not(:last-child) {
      margin-bottom: 6em;
    }
  }
}

/* Phone ********************************/
@media only screen and (max-width: 700px) {
  /******** Top Section */
  .top-section {
    height: 1200px;
    padding-top: 4em;

    &__colored-bar {
      display: none;
    }

    &__colored-bar-img {
      display: block;
      position: absolute;
      bottom: -1%;
      left: 5%;
      width: 40%;
      height: 6px;
      z-index: 10;
    }

    &__wrapper {
      display: flex;
      flex-direction: column;
      height: 1200px;
    }

    &__info {
      order: 2;
      height: 60%;
    }

    &__info-wrapper {
      width: 90%;
      margin: 0 auto;
    }

    a:hover {
      .top-section__button {
        border-bottom: 1px solid transparent;
      }

      .top-section__right-arrow {
        margin-left: 1em;
      }
    }

    &__title {
      font-size: 2rem;
      letter-spacing: 3.33333px;
    }

    &__p {
      font-size: 0.9375rem;
      line-height: 1.5625em;
    }

    &__img {
      order: 1;
      height: 40%;
      position: relative;
    }
  }

  /******** Story Template Section */
  .story-template {
    height: 1200px;

    &__wrapper {
      display: flex;
      flex-direction: column;
      height: inherit;
    }

    &__info {
      order: 2;
      height: 50%;
    }

    &__info-wrapper {
      width: 90%;
      margin: 0 auto;
    }

    a:hover {
      .story-template__button {
        border-bottom: 1px solid transparent;
      }

      .story-template__right-arrow {
        margin-left: 1em;
      }
    }

    &__title {
      font-size: 2rem;
      letter-spacing: 3.33333px;
    }

    &__p {
      font-size: 0.9375rem;
      line-height: 1.5625em;
    }

    &__img {
      order: 1;
      height: 50%;
      position: relative;
    }
  }

  /******** Design Section */
  .design-section {
    height: 1200px;

    &__wrapper {
      display: flex;
      flex-direction: column;
      height: 1200px;
    }

    &__info {
      order: 2;
      height: 50%;
    }

    &__info-wrapper {
      width: 90%;
      margin: 0 auto;
    }

    a:hover {
      .design-section__button {
        border-bottom: 1px solid transparent;
      }

      .design-section__right-arrow {
        margin-left: 1em;
      }
    }

    &__title {
      font-size: 2rem;
      letter-spacing: 3.33333px;
    }

    &__p {
      font-size: 0.9375rem;
      line-height: 1.5625em;
    }

    &__img {
      order: 1;
      height: 50%;
      position: relative;
    }
  }

  /******** Story Section */
  .story-section {
    height: 2400px;

    &__wrapper {
      grid-template-columns: 1fr;
      height: 100vh;
    }

    &__item a:hover {
      transform: translate3d(0, 0, 0);

      .story-section__border-bottom {
        display: none;
      }
    }
  }

  /******** Features Section */
  .features-section {
    &__wrapper {
      display: grid;
      grid-template-columns: 1fr;
    }

    &__item {
      width: 100%;
    }

    &__img {
      width: 90px;
      height: 90px;
    }

    &__item:not(:last-child) {
      margin-bottom: 6em;
    }
  }
}
