/****************** Main Section Style *******************/
/****************** Top Section Style */
.top-story {
  height: 80vh;
  position: relative;

  picture {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;

    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
      object-position: top center;
    }
  }

  &__wrapper {
    display: grid;
    grid-template-columns: repeat(18, 1fr);
    grid-template-rows: 80vh;
    align-items: center;
    position: relative;
    z-index: 10;
  }

  // Top Info
  &__info {
    color: #fff;
    grid-column: 3 / 7;
  }

  &__featured {
    font-size: 0.75rem;
    font-weight: 700;
    line-height: 1em;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-bottom: 2.5em;
  }

  &__title {
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 3rem;
    letter-spacing: 4.16667px;
    text-transform: uppercase;
    margin-bottom: 0.5em;
  }

  &__author {
    font-size: 0.8125rem;
    line-height: 17px;
    margin-bottom: 1.5em;
  }

  &__date {
    opacity: 0.75;
    margin-right: 0.5em;
  }

  &__p {
    font-size: 0.9375rem;
    line-height: 1.5625em;
    opacity: 0.6;
    margin-bottom: 1.5em;
    transform-style: preserve-3d;
  }

  a {
    display: flex;

    &:hover {
      .top-story__right-arrow {
        margin-left: 2em;
      }

      .top-story__button {
        border-color: #f2f2f2;
      }
    }
  }

  &__right-arrow {
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(177deg)
      brightness(107%) contrast(102%);
    transition: all 0.3s ease-in-out;
    margin-left: 1em;
  }

  &__button {
    color: #fff;
    font-size: 0.75rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: 0.3s;
    border-bottom: 1px solid transparent;
  }
}

/****************** Story Section Style */
.stories-section {
  &__wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 600px;
    background-color: #fff;
  }

  &__gradient {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 5;
    background: linear-gradient(
      170deg,
      rgba(0, 0, 0, 0) 20%,
      rgba(0, 0, 0, 0.7) 100%
    );
  }

  // Story Item
  &__item {
    width: 477px;
    height: 600px;
    overflow: hidden;
    position: relative;

    &:hover a,
    &:focus a {
      transform: scale(1.1);
    }

    & a {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      width: 100%;
      height: 100%;
      transition: all 0.3s ease-in-out;

      .stories-section__item-wrapper {
        margin-bottom: 3.5em;
      }
    }

    &-img {
      height: 600px;

      picture {
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: 1;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          object-position: center center;
        }
      }
    }
  }

  &__item-wrapper {
    position: relative;
    z-index: 10;
  }

  &__date {
    color: #fff;
    font-size: 0.8125rem;
    line-height: 1.0625em;
    width: 80%;
    margin: auto;
  }

  &__title {
    color: #fff;
    font-size: 1.125rem;
    font-weight: 700;
    line-height: 1.5625em;
    max-width: 1500px;
    width: 80%;
    margin: 0.4em auto 0.4em auto;
  }

  &__name {
    color: #fff;
    font-size: 0.8125rem;
    line-height: 1.0625em;
    width: 80%;
    margin: auto;
  }

  hr {
    color: #fff;
    max-width: 1500px;
    width: 80%;
    margin: 1.5em auto;
    opacity: 0.25;
  }

  &__button {
    display: flex;
    justify-content: space-between;
    max-width: 1500px;
    width: 80%;
    color: #fff;
    font-size: 0.75rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
    line-height: 1em;
    margin: auto;
  }

  &__right-arrow {
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(177deg)
      brightness(107%) contrast(102%);
  }

  // story border
  &__border-bottom {
    height: 6px;
    width: 100%;
    background: rgb(255, 197, 147);
    background: linear-gradient(
      135deg,
      rgba(255, 197, 147, 1) 0%,
      rgba(188, 113, 152, 1) 50%,
      rgba(90, 119, 255, 1) 100%
    );
    position: relative;
    opacity: 0;
    transition: all 0.3s ease-in-out;
  }
}
